---
import gitlog from "gitlog";
import BaseLayout from "@layouts/BaseLayout.astro";
import DisqusArea from "@components/DisqusArea.astro";
import ArticleArea from "@components/ArticleArea.astro";
//@ts-ignore
import path from "node:path";
import { Temporal } from "@js-temporal/polyfill";
import ignoreHashes from "src/data/blog/ignore-hashes";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const data = await getCollection("blog");

  return data.map((post) => {
    return {
      params: { post: post.id },
      props: post,
    };
  });
}

async function findFirstAndLatestTimeStamp(fileName: string) {
  const parsedPath = path.parse(fileName);

  const res = await gitlog({
    repo: "./",
    follow: true,
    file: path.format({
      ext: ".md",
      dir: parsedPath.dir,
      name: parsedPath.name || parsedPath.base,
    }),
    all: true,
  });

  let first: Temporal.Instant | undefined = undefined,
    latest: Temporal.Instant | undefined = undefined;

  if (res) {
    res.forEach((k) => {
      if (!ignoreHashes.includes(k.hash)) {
        let tp = Temporal.Instant.from(gitlogLibDateToISODate(k.authorDate));
        if (first == undefined || Temporal.Instant.compare(tp, first) === -1) {
          first = tp;
        }
        if (latest == undefined || Temporal.Instant.compare(tp, latest) === 1) {
          latest = tp;
        }
      }
    });
  }

  return { first_commit: first, latest_commit: latest };
}

function gitlogLibDateToISODate(gitlibdate: string) {
  return (
    gitlibdate.slice(0, 10) +
    "T" +
    gitlibdate.slice(11, 19) +
    gitlibdate.slice(20, 23) +
    ":" +
    gitlibdate.slice(23, 25)
  );
}

const content = Astro.props;
const filepath = "src/content/blog/" + content.id;
const date = await findFirstAndLatestTimeStamp(filepath);
const useDisqus = !filepath.includes("stock");
const { Content } = await render(content);
---

<BaseLayout
  katex={!!content.data.katex}
  highlight={!!content.data.highlight}
  titleShort={content.data.title}
  titleSuffix=" | こーげんやさいブログ"
  description={content.data.short}
  pageType="article"
>
  <main class="container blog">
    <ArticleArea
      title={content.data.title}
      postDate={date.first_commit}
      updateDate={date.latest_commit}><Content /></ArticleArea
    >
  </main>
  <nav>
    <div class="container">
      <p>
        <a href="/blog/">[ブログトップへ]</a>
        <a href="/">[こーげんやさいトップへ]</a>
      </p>
    </div>
  </nav>
  {
    useDisqus && (
      <section>
        <div class="container">
          <hr />
          <DisqusArea
            baseName={content.id + ".html"}
            originalTitle={content.data.originalTitle || content.data.title}
          />
        </div>
      </section>
    )
  }
</BaseLayout>
