<%_
page = {}
page.title = 'こーげんやさいブログ';
_%><%- include('page-head.ejs') %>
  <main>
    <div class="content">
      <section>
        <h2>こーげんやさいブログ 記事一覧</h2>
        <%_ for (let k of entries) { %>
          <h3><a href="/blog/<%= k.fileName %>"><%= k.title %></a></h3>
          <p><%= k?.short %></p>
        <%_ } %>
      </section>
    </div>
  </main><%- include('page-foot.ejs') %>