<%_
page = {}
page.title = data.title + ' | こーげんやさいブログ';
page.katex = data?.katex;
_%><%- include('page-head.ejs') %>
  <main>
    <div class="content">
      <h2><%= data.title %></h2>
      <p class="text-r no-margin"><small>
        <%_ if(data?.first_dateiso) { _%>
          投稿：<time datetime="<%= data.first_dateiso %>"><%= data.first_date %></time>
          <%_ if(data?.latest_dateiso) { _%>
            　最終更新：<time datetime="<%= data.latest_dateiso %>"><%= data.latest_date %></time>
            <%_ } _%>
        <%_ } _%>
      </small></p>
      <%- data.html %>
    </div>
  </main>
  <nav>
    <div class="content">
      <p><a href="/blog/">[ブログトップへ]</a></p>
      <hr>
    </div>
  </nav>
  <section>
    <div class="content">
      <div id="disqus_thread"></div>
  <script>
      /**
      *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
      *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
      
      var disqus_config = function () {
      this.page.url = 'https://nona-takahara.github.io/blog/<%= data.fileName %>';  // Replace PAGE_URL with your page's canonical URL variable
      this.page.identifier = '<%= data.hash %>'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
      };
      
      (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = 'https://kogen-yasai-nt.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
      })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </div>
  </section><%- include('page-foot.ejs') %>
