<%_
page = {}
page.title = 'こーげんやさい | リンク集';
_%><%- include('page-head.ejs') %>
  <main>
    <div class="content">
      <section>
        <h2>相互リンク</h2>
        <%_ for(let k of data) { if (k.inter) { _%>
        <div class="floatbox">
        <h3><a href="<%= k.url %>"><%= k.title %></a></h3>
        <%_ if (k.banner) { %><a href="<%= k.url %>"><img src="<%= k.banner %>" class="banner float-l"/></a><%_ } else { %>
        <div class="banner float-l"></div><%_ } %>
        <p><%= k.short ?? "" %></p>
        </div>
        <%_ } } %>
      </section>
      <!--
      <section>
        <h2>その他のリンク</h2>
        <%_ for(let k of data) { if (k.inter === false) { _%>
        <div class="floatbox">
        <h3><a href="<%= k.url %>"><%= k.title %></a></h3>
        <%_ if (k.banner) { %><a href="<%= k.url %>"><img src="<%= k.banner %>" class="banner float-l"/></a><%_ } else { %>
        <div class="banner float-l"></div><%_ } %>
        <p><%= k.short %></p>
        </div>
        <%_ } } %>
      </section>
      -->
      <section>
        <h2>リンクについて</h2>
        <p>この「こーげんやさい」はリンクフリーです。</p>
        <p>また、バナーが <a href="https://nona-takahara.github.io/image/banner_234x60.png">https://nona-takahara.github.io/image/banner_234x60.png</a> にありますので、必要な方はご利用ください。気まぐれに更新するため、直リンやそれに準ずる方法を推奨しています。</p>
        <img src="/image/banner_234x60.png" alt="こーげんやさい バナー" />
        <p><a href="/">[トップに戻る]</a></p>
      </section>
    </div>
  </main><%- include('page-foot.ejs') %>