---
const { props } = Astro.props;
---

<div class="floatbox">
  <h3>
    <a href={props.url}>{props.title}</a>
  </h3>
  {props.banner && <a href={props.url}>
    <img src={props.banner} class="banner float-l" alt={props.title} />
  </a>}
  <p>{props.short}</p>
</div>
