---
import { Temporal, Intl } from "@js-temporal/polyfill";

interface Props {
  props: WorkItem;
}

interface WorkItem {
  latest: LatestVersionInfo;
  title: string;
  category: string[];
  id: string;
  links: Link[];
}

interface LatestVersionInfo {
  dateiso: string;
  version: string;
}

interface Link {
  url: string;
  text: string;
}

const { props } = Astro.props;

const updateDate = ((date: string) => {
  if (!date) {
    return undefined;
  }
  if (date == "today") {
    return Temporal.Now.plainDateISO("Asia/Tokyo");
  }
  return Temporal.PlainDate.from(date.split("T")?.[0] || date);
})(props.latest.dateiso);

const formatOptions: Intl.DateTimeFormatOptions = {
  timeZone: "Asia/Tokyo",
  dateStyle: "long",
};
---

<section id={props.id} class="hideable">
  <h2>{props.title}</h2>
  <ul class="float-l category">
    {props.category.map((key) => <li>{key}</li>)}
  </ul>
  {
    updateDate && (
      <p class="float-r no-margin">
        <small>
          {props.latest.version}（最終更新
          <time datetime={updateDate.toString()}>
            {updateDate.toLocaleString("ja-JP", formatOptions)}
          </time>
          ）
        </small>
      </p>
    )
  }
  <nav class="float-clear table-of-links">
    <ul class="link clickable">
      {
        props.links.map((item) => {
          return (
            <li>
              <a href={item.url}>{item.text}</a>
            </li>
          );
        })
      }
    </ul>
  </nav>
  <slot />
  <p class="float-clear"><a href="/" class="jsshow">[戻る]</a></p>
</section>
