---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout
  titleShort={Astro.props.titleShort}
  titleSuffix={Astro.props.titleSuffix || " | こーげんやさい"}
  katex={Astro.props.katex}
  description={Astro.props.description}
  pageType={Astro.props.pageType}
  highlight={Astro.props.highlight}
>
  <main id="content" class="container">
    <slot />
  </main>
</BaseLayout>
